<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
    Server=.\\sqlexpress;Database=BankIIS;Trusted_Connection=true;TrustServerCertificate=true
    <add name="DefaultConnection" connectionString="provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=BankIIS;integrated security=True;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>